<% if @user.private? && @user.has_pending_follow_request_from?(current_user) %>

  $('#followbutton')
    .text('Requested')
    .addClass('disabled')
    .attr('disabled', true)
    .removeAttr('href');

  $('#hover-followbutton')
    .text('Requested')
    .addClass('disabled')
    .attr('disabled', true)
    .removeAttr('href');

  $("<div class='alert alert-info mt-2'>Follow request sent! Waiting for approval.</div>")
    .appendTo('#infoprofile')
    .fadeOut(5000);

<% else %>

  var isFollowing =
    $('#hover-followbutton').text().trim() === 'Following' ||
    $('#followbutton').text().trim() === 'Following';

  $('#followbutton')
    .text('Following')
    .attr('href', '<%= user_unfollow_path(@user) %>');

  $('#hover-followbutton')
    .text('Following')
    .attr('href', '<%= user_unfollow_path(@user) %>');

  if (!isFollowing) {

    var followers = parseInt($('#hover-followers-count').text());
    if (!isNaN(followers)) {
      $('#hover-followers-count').text(followers + 1);
    }

    var following = parseInt($('#profile-following-count').text());
    if (!isNaN(following)) {
      $('#profile-following-count').text((following + 1) + ' Following');
    }

  }

<% end %>