
<% replies.order('created_at DESC').each do |rep| %>

    <%= render "shared/onereply", reply: rep, type: type %>


    <% subreplies = rep.getsubreplies %>
    <% if subreplies.count > 0 %>
        <% offset = type == "parent" ? "47px" : "27px" %>

        <div id="children-<%=rep.id%>" style="margin-left: <%=offset%>">
            <%= render 'shared/highlightreplies', replies: subreplies, type: "child" %>
        </div>
    <% end %>

<% end %>