<div class="modal fade" id="premiumTeaserModal" tabindex="-1" style="z-index: 20000 !important;" 
     aria-labelledby="premiumTeaserLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #fffaf0 !important; border: 1px solid #f0e6d9; border-radius: 21px !important; overflow: hidden;">
      <div class="modal-header" style="background-color: #fffaf0 !important; border: none !important; border-bottom: none !important; border-top-left-radius: 21px !important; border-top-right-radius: 21px !important;">
        <h5 class="modal-title" id="premiumTeaserLabel">Premium Feature</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center" style="background-color: #fffaf0 !important; color: #3c2f2f; border-bottom-left-radius: 21px !important; border-bottom-right-radius: 21px !important;">
        <p>Upgrade to Pomologist plan to unlock exclusive features.</p>
        <%= link_to "Upgrade", subscriptions_new_path, class: "btn btn-primary mt-3" %>
      </div>
    </div>
  </div>
</div>