
<div class=container id=aboutcontent>
    <%=image_tag('/assets/skookoo_logo_600', size: "200x200", class: 'mb-5')%>

    <h2> Skookoo is a social network and e-reading app for students.</h2>
    <hr>
    <h3> It allows you to share your reactions to the book extracts you will find peculiar and have conversations about them. </3>

</div>
