
<div class=container id=aboutcontent>
    <%=image_tag('skookoo_logo_600', height: "100", class: 'mb-5')%>

    <h2> Skookoo is a social network and e-reading app for students.</h2>
    <hr>
    <h4 style="color:#0951a9"> It allows you to share your reactions to the book extracts you will find peculiar and have conversations about them. </h4>

</div>
