<h3 class="pb-4 pt-4">
  <%= image_tag('crate.svg', size: "33x33") %>
  Home  
  <% if logged_in? %>
    <button id="whoifollow" class="btn btn-sm" 
            style="border-color: #0951a9; 
                   background-color: #ffffff; 
                   color: #0951a9;">
      Who I follow
    </button>
  <% end %>

    <button id="sort-top" class="btn btn-sm" 
          style="border-color: #0951a9; 
                 background-color: #ffffff; 
                 color: #0951a9;
                 margin-left: 10px;">
    Best
  </button>
  <button id="sort-new" class="btn btn-sm active" 
          style="border-color: #0951a9; 
                 background-color: #0951a9; 
                 color: #ffffff;
                 margin-left: 5px;">
    Newest
  </button>

</h3>

<div id="homepage">
  <%= render "shared/homeposts", records: @records, pagy: @pagy %>
</div>

<script>

  document.addEventListener('turbo:load', function() {

      let current_view = 'home';
      let current_sort = 'new';

      function fetchPosts() {
        const path = (current_view === 'following') ? '/pages/following' : '/pages/home';
        $.get(`${path}?sort=${current_sort}`);
      }

      <% if logged_in? %>
        $('#whoifollow').on('click', function () {
          const button = $(this);

          if (!button.hasClass('active')) {
            button.addClass('active');
            button.css('background-color', '#0951a9');
            button.css('color', '#ffffff');
            current_view = 'following';
          } else {
            button.removeClass('active');
            button.css('background-color', '#ffffff');
            button.css('color', '#0951a9');
            current_view = 'home';
          }

          fetchPosts();
        });
      <% end %>

      $('#sort-top').on('click', function () {
        if (current_sort !== 'top') {
          current_sort = 'top';
          $('#sort-top').addClass('active').css({'background-color': '#0951a9', 'color': '#ffffff'});
          $('#sort-new').removeClass('active').css({'background-color': '#ffffff', 'color': '#0951a9'});
          fetchPosts();
        }
      });

      $('#sort-new').on('click', function () {
        if (current_sort !== 'new') {
          current_sort = 'new';
          $('#sort-new').addClass('active').css({'background-color': '#0951a9', 'color': '#ffffff'});
          $('#sort-top').removeClass('active').css({'background-color': '#ffffff', 'color': '#0951a9'});
          fetchPosts();
        }
      });

  }); 
</script>