<h3 class="pb-4 pt-4">
  <%= image_tag('crate.svg', size: "33x33") %>
  Homepage

  <% if logged_in? %>
    <button id="whoifollow" class="btn btn-sm" 
            style="border-color: #0951a9; background-color: #ffffff; color: #0951a9;">
      Who I follow
    </button>
  <% end %>
</h3>

<div id="homepage">
  <%= render "shared/filteredposts", records: @records, pagy: @pagy %>
</div>

<script>
  $('#whoifollow').on('click', function () {
    const button = $(this);

    if (!button.hasClass('active')) {
      button.addClass('active');
      button.css('background-color', '#0951a9');
      button.css('color', '#ffffff');

      $.get('/pages/following');
    } else {
      button.removeClass('active');
      button.css('background-color', '#ffffff');
      button.css('color', '#0951a9');

      $.get('/pages/home');
    }
  });
</script>